{% style %}
.colors-box-{{ section.id }} {
  background-color: {{ section.settings.background_color }};
  padding: 64px 0 34px;
}

.colors-box-{{ section.id }} .colors-box-section__heading {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.colors-box-{{ section.id }} .colors-box-section__heading h4,
.colors-box-{{ section.id }} .colors-box-section__heading a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 16px 0 0;
}

.colors-box-{{ section.id }} .colors-box-section__heading h4 {
  letter-spacing: 2px;
  color: #333;
}

.colors-box-{{ section.id }} .colors-box-section__heading a {
  font-weight: bold !important;
  color: #03555F;
}

.colors-box-{{ section.id }} .colors-box-section__heading .heading-line {
  width: 100%;
  border-bottom: 1px solid #CADFDC;
}

.colors-box-{{ section.id }} .colors-box__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.colors-box-{{ section.id }} .colors-box__list .color-box-item {
  padding: 0 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: calc(100% / 3);
}

@media(max-width: 768px) {

}
@media(max-width: 554px) {
  .colors-box-{{ section.id }} .colors-box-section__heading h4 {
    margin-right:0;
    text-align:center;
  }
  .colors-box-{{ section.id }} { padding: 32px 0 2px; }
  .colors-box-{{ section.id }} .colors-box-section__heading { flex-direction: column; }
  .colors-box-{{ section.id }} .colors-box-section__heading h4 { margin-bottom: 4px; white-space: initial; }
  .colors-box-{{ section.id }} .colors-box-section__heading .heading-line { margin-top: 12px; }
  .colors-box-{{ section.id }} .colors-box__list .color-box-item { width: 100% }
}
{% endstyle %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="colors-box-section" 
  class="colors-box-section colors-box-{{ section.id }} {{ section.class }}" >
  <div class="content-container">

    <div class="colors-box__inner">
      <div class="colors-box-section__heading">
        <h4>{{ section.settings.label }}</h4>

        {% if section.settings.see_all %}
        <a href="{{ section.settings.see_all_url }}" target="_blank">See All</a>
        {% endif %}
        
        <span class="heading-line"></span>
      </div> <!-- .colors-box-section__heading -->

      <div class="colors-box__list">
        {% for block in section.blocks %}
          {% render 'color-box-item' | block: block %}
        {% endfor %}
      </div> <!-- .colors-box__list -->
    </div>
  </div>
</div> <!-- .colors-box-section -->

{% schema %}
{
  "name": "Colors Box Section",
  "class": "colors-box-section--container",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "info": "Enter label",
      "default": "Meet Our Best Sellers"
    },
    {
      "type": "checkbox",
      "id": "see_all",
      "label": "Enable See All",
      "default": true
    },
    {
      "type": "url",
      "id": "see_all_url",
      "label": "See All Url",
      "info": "Select see all url"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFF",
      "info": "Select background color"
    }
  ],
  "blocks": [
    {
      "type": "color-box-item",
      "name": "Color Box Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Select image"
        },
        {
          "type": "text",
          "id": "sub_text",
          "label": "Sub-Text"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "info": "Enter your label"
        },
        {
          "type": "url",
          "id": "box_url",
          "label": "Select Url"
        }
      ]
    }
  ]
}
{% endschema %}